<!-- <p>produto-listar works!</p> -->
<h1>Tabela de Produtos</h1>
<table class="tabela-produtos">
    <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Criado em</th>
        <th>Categoria</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let p of Produtos">
        <td>{{p.produtoID}}</td>
        <td>{{p.nome}}</td>
        <td>{{p.descricao}}</td>
        <td>{{p.preco | currency : "BRL"}}</td><!--pipe formatação-->
        <td>{{p.criadoEm | date : "dd/MM/yyyy hh:mm"}}</td>
        <td>{{p.category?.nome}}</td>
        <td>
            <button (click)="deletar(p.produtoID)">Deletar</button> 
        </td>
        <td>
            <a href="" routerLink="/pages/produto/alterar/{{
                p.produtoID
              }}">Atualizar</a>
        </td>
    </tr>
</table>
